@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Altera';
  src: url('assets/altera/Altera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --jm-font-primary: 'Altera', sans-serif;
  --jm-font-secondary: 'Montserrat', sans-serif;

  --jm-color-white: #ffffff;
  --jm-color-grey: #c7c7c7;
  --jm-color-black: #000000;

  --bg-primary: var(--jm-color-white);
  --bg-secondary: var(--jm-color-grey);
  --bg-tertiary: var(--jm-color-black);

  --jm-text-white: var(--jm-color-white);
  --jm-text-grey: var(--jm-color-grey);
  --jm-text-black: var(--jm-color-black);

  --jm-font-size-h1: 4vh;
  --jm-font-size-h2: 3vh;
  --jm-font-size-h3: 3vh;
  --jm-font-size-text: 2vh;
  --jm-font-size-text2: 1.5vh;
  --jm-font-size-link: 2vh;

  --jm--gap-s: 10px;
  --jm-gap-m: 20px;
  --jm-gap-l: 30px;
  --jm-gap-xl: 40px;

  --jm-padding-s: 10px;
  --jm-padding-m: 20px;
  --jm-padding-l: 30px;
  --jm-padding-xl: 40px;
  --jm-margin-section: 120px;

  --jm-radius-md: 5px;
  --jm-radius-lg: 15px;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--jm-font-primary);
  box-sizing: border-box;
  max-width: 1700px;
}
body {
  font-family: var(--jm-font-primary);
  background-color: var(--bg-primary);
  min-width: 366px;
  overflow-x: auto;
}
.notification-bar {
  font-family: var(--jm-font-secondary);
  font-size: 12px;
  height: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--jm-color-black);
  color: var(--jm-color-white);
  z-index: 1000;
  display: flex;
  font-weight: bold;
  width: 100%;
}
.plus {
  font-family: var(--jm-font-secondary);
}

.euros {
  font-family: var(--jm-font-secondary);
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--jm-gap-l);
  width: 100%;
  flex-direction: row;
}

.common-padding {
  padding: var(--jm-padding-l) var(--jm-padding-xl);
}
.logo {
  font-size: var(--jm-font-size-h1);
  text-align: center;
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
}
.logo-link:visited {
  color: var(--jm-color-black);
}

.nav-list {
  list-style: none;
  font-size: var(--jm-font-size-text);
  font-weight: bold;
  display: flex;
  gap: var(--jm-gap-m);
  color: var(--jm-text-black);
}
.nav-list a {
  text-decoration: none;
  color: var(--jm-text-black);
  transition: 0.3s ease;
}

.nav-list a:hover {
  color: var(--jm-color-grey);
}
.nav-list a:visited {
  text-decoration: none;
}

.hamburger {
  display: none;
}
.menu-toggle {
  display: none;
}
.flex-container-icons {
  display: flex;
  gap: var(--jm--gap-s);
  margin-left: auto;
  align-items: center;
}

.search-container {
  display: flex;
  gap: var(--jm--gap-s);
}
.search-icon {
  width: 19px;
  height: 19px;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  transition: width 0.3s ease; /* Animación suave */
}

.search-input {
  display: none;
  border: none;
  padding: 7px;
  font-size: 15px;
  height: 20px;
}
.search-container:hover .search-input,
.search-container:focus-within .search-input {
  display: block;
}

.icon-cart {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon-login {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--jm-gap-m);
}

.main-container .foto-joyas {
  width: 95%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

h2 {
  font-size: var(--jm-font-size-h2);
  margin-top: 30px;
}

.section-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  gap: var(--jm-gap-m);
  width: 95%;
  margin: 0;
}

.grid-item-article-anillos,
.grid-item-article-pendientes,
.grid-item-article-collares,
.grid-item-article-esclavas {
  display: grid;
  justify-content: center;
  text-align: center;
}

.article-image-1,
.article-image-2,
.article-image-3,
.article-image-4 {
  width: 400px;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}
h4 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: var(--jm-font-primary);
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}
.flex-container-musas {
  width: 95%;
  height: 730;
  display: flex;
}

.flex-container-musas img {
  width: 100px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: width 0.3s, opacity 0.3s, filter 0.3s;
  gap: var(--jm-gap-m);
}

.flex-container-musas img:hover {
  cursor: pointer;
  width: 70px;
  opacity: 0.5;
  filter: contrast(120%);
}

.flex-container-personaliza-joyas {
  width: 95%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  justify-content: center;
  height: 250px;
  overflow: hidden;
}

.image-container > p {
  font-family: var(--jm-font-secondary);
  font-size: var(--jm-font-size-text);
  color: rgba(255, 255, 255);
  opacity: 0.7;

  position: absolute;
  top: 20px;
  left: 30px;
}
.image-container > img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.customize-button {
  position: absolute;
  top: 30%;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  text-decoration: none;
}
.customize-button:visited {
  text-decoration: none;
  color: inherit;
}
.customize-button:hover {
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Cambia el fondo al pasar el mouse */
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  gap: var(--jm-gap-xl);
  margin: 0 auto;
  font-size: 13px;
  background-color: rgb(231, 231, 231);
  width: 95%;
  box-sizing: border-box;
  margin-top: 30px;
}
.footer__section {
  justify-content: center;
  align-items: center;
}
.footer__section-title {
  font-size: 15px;
  font-family: var(--jm-font-secondary);
  color: black;
  margin-bottom: 10px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}
.footer__text {
  font-size: 13px;
  font-family: var(--jm-font-secondary);
  line-height: 1.5;
}

.footer a {
  text-decoration: none;
  font-size: 13px;
  font-family: var(--jm-font-secondary);
  line-height: 1.5;
}
footer a:visited {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1052px) {
  .notification-bar {
    display: flex;
    width: 100%;
  }
  .flex-container {
    display: flex;
    width: 100%;
    overflow: auto;
  }

  .flex-container-icons {
    display: flex;
    gap: var(--jm--gap-s);
    margin-left: auto;
    align-items: center;
  }

  .search-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .logo {
    font-size: 2.5vh;
  }
  h2 {
    font-size: 2vh;
    margin-top: 15px;
  }

  .hamburger {
    display: block;
    font-size: 20px;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
  }
  .navbar {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--bg-primary);
    width: 100%;
  }

  .menu-toggle:checked + .hamburger + .navbar {
    display: flex;
    background-color: white;
  }
}
@media (max-width: 1150px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--jm--gap-s);
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
  }

  .article-image-1 .article-image-2 .article-image-3 .article-image-4 {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .section-grid-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
  }
  .universo-de-musas musa-1 musa-2 musa-3 musa-4 {
    width: 50px;
  }
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 1150px) {
  .footer__section {
    display: block;
    flex-wrap: wrap;
    gap: var(--jm--gap-s);
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
}
